In [1]:
#STEP : 01 IMPORT LIBRABIES AND LOAD DATASET 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import 
# Load the cleaned dataset
df = pd.read_csv(r"C:/Users/yamun/OneDrive/Desktop/Life Expectancy Data.csv")

# Display first few rowsseaborn as sns

df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [2]:
#Step 2: Basic dataset information
# Shape of dataset
print("Shape of the dataset:", df.shape)

print("\nData types:")


# Data types and non-null values
print("\nDataset Info:")
print(df.info())

Shape of the dataset: (2938, 22)

Data types:

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB
None

In [2]:

# Check missing values before filling
print("ðŸ” Missing values before cleaning:\n", df.isnull().sum())

# Separate numeric and categorical columns
num_cols = df.select_dtypes(include=[np.number]).columns
cat_cols = df.select_dtypes(exclude=[np.number]).columns

# Fill missing values
# â†’ Numeric columns â†’ median
df[num_cols] = df[num_cols].apply(lambda x: x.fillna(x.median()))

# â†’ Categorical columns â†’ mode
for col in cat_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

# Check again
print("\nâœ… Missing values after cleaning:\n", df.isnull().sum())

# Handle duplicates
duplicates = df.duplicated().sum()
print(f"\nðŸ§¹ Duplicate rows found: {duplicates}")

if duplicates > 0:
    df = df.drop_duplicates()
    print("âœ… Duplicates removed.")
else:
    print("No duplicate rows found.")

# Convert GDP to numeric (if stored as string)
df['GDP'] = pd.to_numeric(df['GDP'], errors='coerce')

# Final check
print("\nâœ… Final missing values count:", df.isnull().sum().sum())

ðŸ” Missing values before cleaning:
 Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

âœ… Missing values after cleaning:
 Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

ðŸ§¹ Duplicate rows found: 0
No duplicate rows found.

âœ… Final missing values count: 0

In [3]:


# Find outliers using IQR method for numeric columns
for col in num_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    outliers = df[(df[col] < lower) | (df[col] > upper)][col]
    print(f"{col}: {len(outliers)} outliers")

Year: 0 outliers
Life expectancy : 17 outliers
Adult Mortality: 86 outliers
infant deaths: 315 outliers
Alcohol: 3 outliers
percentage expenditure: 389 outliers
Hepatitis B: 322 outliers
Measles : 542 outliers
 BMI : 0 outliers
under-five deaths : 394 outliers
Polio: 279 outliers
Total expenditure: 51 outliers
Diphtheria : 298 outliers
 HIV/AIDS: 542 outliers
GDP: 445 outliers
Population: 452 outliers
 thinness  1-19 years: 100 outliers
 thinness 5-9 years: 99 outliers
Income composition of resources: 130 outliers
Schooling: 77 outliers